doctype html
html
  head
    title 404
    link(rel = "stylesheet", href = "/styles/main.css")
    link(rel = "stylesheet", href = "/styles/404.css")
  body
    h1 404
    p <a href="/">Go home</a>, you're drunk.
