doctype html
html
  head
    title OCCO
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header
      img(src='/images/logo.svg', width='150px', height='150px')
      h1 OCCO
      p A game about dots. And maybe explosions.

    if authenticated
      #auth(tabindex='0')
        section
          img.circle(src=user.photo width='40px' height='40px')
          p.caption= user.name
        section
          a.big-link(href='/logout') LOGOUT
    else
      #auth(tabindex='0')
        section
          p.big-link LOGIN
        section
          a(href='/auth/google')
            img(src='/images/google.png', alt='Google', width='75px', height='50px')
          a(href='/auth/facebook')
            img(src='/images/facebook.png', alt='Facebook', width='75px', height='50px')

    form(action='/room', method='get')
      input(type='text', name='key', placeholder='Room Key...', autofocus, autocomplete='off')