* { margin: 0; padding: 0 }

h1 {
    font-weight: 100;
    line-height: 80vh;
    text-align: center;
    font-size: 33vw;
}

p {
    line-height: 20vh;
    text-align: center;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #00f;
    transition: 0.5s;
}

a:hover {
    color: #08f;
}