body {
    text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 30vmin;
  margin: 0;
}

p {
  font-size: 5vmin;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00f;
  transition: color .5s;
}
a:hover { color: #08f; }
