html {
  /*background: #58E3CD linear-gradient(0deg, #1CD8D2 10%, #93EDC7 90%) no-repeat fixed center;*/
  background: black linear-gradient(0deg, #0f8 0%, #08f 100%) no-repeat fixed center;
}

/*//////////////////////////////////////////////*/

header {
  width: 100%;
  color: #fff;
  padding-top: 20px;
  text-align: center;
}

/*//////////////////////////////////////////////*/

#auth {
  width: 150px;
  height: 100px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, .25) 0 0 5px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
}

#auth * {
  display: block;
}

#auth > section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  transition: .2s ease;
}

@media only screen and (min-width: 768px) {
  #auth {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    outline: none;
  }

  #auth:hover > *, #auth:focus > * {
    transform: translateY(-50px);
  }
}

/*//////////////////////////////////////////////*/

.caption {
  width: 100px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.circle {
  border-radius: 50%;
}

.big-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

/*//////////////////////////////////////////////*/

input[type='text'] {
  padding: 10px;
  margin: 20px 10px;
  border: 1px solid #ccc;
  outline: 0;
  color: #999;
  transition: border .3s;
  box-shadow: rgba(0, 0, 0, .25) 0 0 5px;
  border-radius: 3px;
  height: 50px; width: 300px;
  font-size: 18px;
}

input[type='text']:focus {
  border-color: #999;
}